@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Switzer";
  --button-large-font-family: "Switzer-Semibold", Helvetica;
  --button-large-font-size: 16px;
  --button-large-font-style: normal;
  --button-large-font-weight: 400;
  --button-large-letter-spacing: 0.5px;
  --button-large-line-height: 24px;
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Switzer";
  src: url("../public/assets/fonts/Switzer-Variable.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
}

.tz-text-dark {
  color: #212529;
}
.tz-text-dark-1 {
  color: #101010;
}
.tz-text-dark-2{
  color: var(--text-emphasis-medium, #4D5154);
}
.tz-text-dark-3 {
  color: var(--black-black, #16171D); 
}
.tz-text-dark-4 {
  color: var(--text-emphasis-dark, #2B2C34); 
}
.tz-text-dark-5 {
  color: #694D0A; 
}
.tz-text-dark-6 {
  color: var(--gray-800, #1F2937); 
}
.tz-text-gray {
  color: #6F7174;
}
.tz-text-gray-1 {
  color: #5C5C61;
}
.tz-text-gray-2 {
  color: var(--neutral-main-60, #A0A3A6);
}
.tz-text-gray-3 {
  color: var(--text-emphasis-medium, #4D5154);
}
.tz-text-gray-4 {
  color: #9DA3AE; 
}
.tz-text-gray-6 {
  color: var(--gray-500, #6B7280); 
}
.tz-text-gray-7 {
  color: var(--gray-500, #8A8B8E); 
}
.tz-text-gray-30 {
  color: var(--primary-main-60, rgba(0, 0, 0, 0.30));
}
.tz-text-gray-300 {
  color: var(--gray-300, #B9B9BB); 
}
.tz-text-gray-50 {
  color: rgba(0, 0, 0, 0.50);
}
.tz-text-gray-5 {
  color: var(--neutral-tints-70, #C8CCD0);
}
.tz-text-success {
  color: var(--success-default, #3CC13B); 
}
.tz-text-danger {
  color: var(--destructive-600, #CD3636); 
}
.tz-text-green {
  color: #00AC11;
}
.tz-text-blue {
  color: #3B6FE9;
}
.tz-text-blue-1 {
  color: #1B97DB;
}
.tz-text-brown {
  color: #C8811A;
}
.tz-text-red {
  color: var(--error-primary, #B00020); 
}
.tz-text-light {
  color: #E9EBEC;
}
.tz-text-orange {
  color: #FDF2D0;
}
.tz-text-orange-1 {
  color: #F8B02B;
}
.tz-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.tz-shadow-2 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.tz-border-light {
  border: 1px solid #E8E8E8;
}
.tz-border-light-1 {
  border: 1px solid var(--neutral-tints-99, #F7F7F7);
}
.tz-border-dark-1 {
  border: 1px solid var(--text-emphasis-bold, #212529);
}
.tz-border-dark {
  border: 0.8px solid var(--primary-main-60, #101010);
}
.tz-border-light-2 {
  border: 1px solid var(--neutral-tints-95, #E9EBEC);
}
.tz-border-light-3 {
  border: 0.8px solid var(--neutral-main-60, #A0A3A6);
}
.tz-border-light-4 {
  border: 1px solid var(--neutral-main-60, #A0A3A6);
}
.tz-border-cc {
  border: 1px solid var(--primary-tints-99, #CCC);
}
.tz-border-2b {
  border: 1px solid var(--primary-tints-70, #2B2B2B); 
}
.tz-bg-light-2 {
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0.00) 100%);
}
.tz-bg-success-light {
  background: var(--success-light, #F3FEF3);
}
.tz-bg-success-light-1 {
  background: var(--success-light, #E0F5E0);
}
.tz-bg-success {
  background: var(--success-default, #3CC13B);
}
.tz-bg-danger-light {
  background: var(--destructive-100, #FDE9E9); 
}
.tz-bg-danger-light-1 {
  background: var(--error-light, #FEECEC);
}
.tz-bg-danger {
  background: var(--destructive-600, #CD3636);
}
.tz-bg-danger-1 {
  background: var(--error-primary, #B00020); 
}
.tz-bg-green {
  background: rgba(0, 172, 17, 0.10);
}
.tz-bg-blue {
  background: var(--tertiary-tints-99, #D8E2FB);
}
.tz-bg-blue-1 {
  background: rgba(27, 151, 219, 0.15); /*#DDEFFA;*/
}
.tz-bg-yellow {
  background: #FBF2CB; 
}
.tz-bg-light {
  background: var(--neutral-tints-99, #F7F7F7);
}
.tz-bg-orange {
  background: var(--secondary-main-60, #FDF2D0);
}
.tz-bg-orange-99 {
  background: var(--secondary-tints-99, #FDF2D0);
}
.tz-bg-orange-1 {
  background: var(--secondary-main-60, #F8B02B);
}
.tz-bg-dark-1 {
  background: #101010;
}
.tz-bg-dark-2 {
  background: var(--primary-shades-50, #16171D);
}
.tz-bg-light-1 {
  background: var(--neutral-main-60, #A0A3A6);
}
.tz-bg-gray-4 {
  background: var(--text-emphasis-medium, #4D5154);
}
.tz-bg-cc {
  background: var(--primary-tints-99, #CCC);
}
.tz-px-30 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
.tz-h-17{
  height: 17.25rem;
}
.tz-h-22 {
  height: 22rem;
}
.tz-w-30 {
  width: 29.5rem;
}
.tz-w-33 {
  width: 32.5rem;
}
.tz-w-36{
  width: 36.25rem;
}
.tz-w-39 {
  width: 38.75rem;
}
.tz-ewl {
  background: linear-gradient(top, #101010 60.94%, rgba(255, 255, 255, 0.00) 100%);
}
.tz-bg-gradient {
  background: linear-gradient(134deg, rgba(254, 191, 67, 0.05) 18.14%, rgba(255, 255, 255, 0.00) 54.69%);
}
.tz-review-gradient {
    -webkit-mask-image: linear-gradient(to left right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.tz-line-gradient-right {
/*    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));*/
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(16, 16, 16, 0.55));
}
.tz-line-gradient-left {
/*    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));*/
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(16, 16, 16, 0.55));
}
.tz-border-top {
  border-top: 1px solid var(--text-emphasis-bold, #212529);
}
.tz-border-top-1 {
  border-top: 1px solid var(--neutral-tints-90, #DEE0E3);
}
.tz-border-top-2 {
  border-top: 1px solid var(--neutral-tints-95, #E9EBEC);
}
.tz-border-top-3 {
  border-top: 1px solid var(--neutral-tints-80, #D3D6D9);
}
.tz-border-bottom {
  border-bottom: 1px solid var(--neutral-tints-80, #D3D6D9);
}
.tz-border-bottom-1 {
  border-bottom: 1px solid var(--neutral-tints-95, #E9EBEC);
}
.tz-border-gray-1 {
  border: 1px solid var(--neutral-tints-80, #D3D6D9);
}
.tz-border-bottom-3 {
  border-bottom: 0.6px solid var(--neutral-tints-70, #C8CCD0);
}
.tz-border-gray {
  border: 0.6px solid var(--neutral-tints-70, #C8CCD0);
}
.tz-border-bottom-2 {
  border-bottom: 1px solid var(--neutral-tints-90, #DEE0E3);
}
.tz-border-gray-2 {
  border: 1px solid var(--neutral-tints-90, #DEE0E3);
}
.tz-border-gray-3 {
  border: 1px solid var(--gray-200, #E5E7EB);
}
.tz-bg-gray-1 {
  background: var(--primary-tints-95, #AAA);
}
.tz-bg-gray-2 {
  background: #D3D6D9;
}
.tz-bg-gray-3 {
  background: #DEE0E3;
}
.tz-w-1 {
  width: 0.0625em;
}
.tz-h-1 {
  height: 0.0625em;
}
.tz-thick-border {
  border: 10px solid var(--primary-main-60, #101010);
}
.tz-bg-gh {
  background: var(--neutral-tints-95, linear-gradient(0deg, rgba(247, 247, 247, 0.40) 0%, rgba(247, 247, 247, 0.40) 100%), #E9EBEC);
}
.tz-bg-host {
  background: rgba(255, 255, 255, 0.00);
}
.tz-searchbox-buttons {
  background: rgba(22, 23, 29, 0.50);
  backdrop-filter: blur(2px);
}
.tz-checkbox-border {
  border: 1px solid var(--alpha-black-10, rgba(47, 43, 67, 0.10));
}
.tz-text-fadeout {
  -webkit-mask-image: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}